.container{
    max-width:400px;
    margin:50px auto;
    padding:20px;
    border:1px solid #816a6a;
    background-color: #bd7;
    border-radius: 10px;
}
.form-group{
    margin-bottom:20px;
}
label{
    display:block;
    margin-bottom:5px;
}
input{
    width:95%;
    padding:10px;
    border:1px solid #ccc;
    border-radius:5px;
    font-weight:bold;
}
button{
    padding:10px 20px;
    background-color:green;
    color:#fff;
    border-radius:5px;
}